%h1 Edit files

= form_with(model: @user, local: true) do |f|
  = f.file_field :files, multiple: true
  %br/
  = f.submit 'Save', class: 'btn btn-info'

= link_to 'Back', users_path, class: 'btn btn-info'
